/*:root {*/
/*    --grid-cols: 1;*/
/*    --grid-rows: 1;*/
/*}*/

#container {
    color: black;
}

/*.grid-item {*/
/*    padding: 1em;*/
/*    border: 1px solid #ddd;*/
/*    text-align: center;*/
/*}*/

#formationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#formationList li {
    color: white;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

.selectedFormation {
    background-color: #f1f1f1;
    color: black;
}

#gameboard {
    width: 100%;
    min-width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

#gameboard tr {
    display: table-row;
}

#gameboard tr td {
    background-image: url("../img/grassTextureTile.jpg");
    text-align: center;
    padding: 0;
    border: 1px solid black;
    width: 150px;
    height: 150px;

    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#gameboard tr td:hover {
    background: linear-gradient(rgba(122, 122, 122, 0.5), rgba(122, 122, 122, 0.5)), url("../img/grassTextureTile.jpg");
}

.ENEMY {
    color: red;
}

.FRIENDLY {
    color: cyan;
}

.unitCellWrapper {
    width: 100%;
    height: 100%;
}

.unitCellWrapper div {
    width: 100%;
    height: 100%;
}

.unitTextInfo {
    width: 100%;
    max-height: 25%;
}

.unitImageWrapper {
    width: 100%;
    max-height: 75%;
}

.characterIconImage {
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body {
    background-image: url("../img/woodTexture.jpg");
}


