/*:root {*/
/*    --grid-cols: 1;*/
/*    --grid-rows: 1;*/
/*}*/

#gamearea {
    width: 100%;
}

#container {
    color: black;
    text-align: center
}

/*.grid-item {*/
/*    padding: 1em;*/
/*    border: 1px solid #ddd;*/
/*    text-align: center;*/
/*}*/

#gameboard {
    border: 5px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
}

#gameboard tr td {
    background-image: url("img/grassTextureTile.jpg");
    text-align: center;
}

#gameboard tr td:hover {
    background: linear-gradient(rgba(122, 122, 122, 0.5), rgba(122, 122, 122, 0.5)), url("img/grassTextureTile.jpg");
}

.unitCellWrapper {
    width: 150px;
    height: 150px;
}

.unitCellWrapper div {
    width: 100%;
    height: 100%;
}

.unitTextInfo {
    width: 100%;
    max-height: 25%;
}

.unitImageWrapper {
    width: 100%;
    max-height: 75%;
}

.characterIconImage {
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body {
    background-image: url("img/woodTexture.jpg");
}


