<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form action="#" th:action="@{/api/auth/signup}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <input type="submit" value="Signup">
</form>
</body>
</html>